header {
  height: 50vh;
  background-image: url(../../assets/img/camionette-jaune.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(30, 50, 74, 0.3);
  border: 3px white solid;
}